<%- include("../partials/header")%>
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item" style= "text-decoration: underline;"><a href="/">Home</a></li>
	  <li class="breadcrumb-item active" aria-current="page">Hotels</li>
	</ol>
</nav>
<div class="container">

	<header class="jumbotron">
		<div>
			<h1>
				Welcome to Easybooking
			</h1>
			<p>
				View the most exciting hotels from all over the world
			</p>

			<p>
				<a class="btn bt-lg btn-primary"href="/campgrounds/new">Add new Hotel</a>
			</p>
		</div>
	</header>
    <hr> <h3>HOTELS</h3> <hr>
	<form action="/campgrounds" method="POST">
		<hr> PRICE FILTER <hr>
		<input type="number" name="LOW" placeholder=" LOWEST PRICE" class ="inputtext">
		<input type="number" name="HIGH" placeholder=" HIGHEST PRICE" class ="inputtext">
		<button type="submit" class="btn btn-primary">APPLY FILTER</button>
	</form>

    <br> <br>
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<%camps.forEach(function(campground){%>
			<% if(	parseInt(campground.price) >= parseInt(low) && parseInt(campground.price) <= parseInt(high)){ %>
				<div class="col-md-3 col-sm-6">
					<div class = "thumbnail">
						<div class = "imgcontainer">
							<img class="heroimage" src="<%=campground.image%>" alt="hotel <%=campground.name%>">
							<div class="caption-full">
								<h4 class = "pull-left"><%=campground.name%></h4>
								<h5>$<%=campground.price%>/night</h5>
							</div>
						</div>
					</div>
					<p>
						<a href="/campgrounds/<%=campground._id%>" class="btn btn-primary" >More info</a>
					</p>
				</div>
			<% } %>
		<% }); %>
	</div>
	<hr> CHANGE SIZE
	<btn id="inc" class="btn bt-lg btn-primary" style = "margin-left : 10px">  + </btn>
	<btn id="dec" class="btn bt-lg btn-primary"> - </btn>
</div>


<!-- <p class = "fontchanger">This is an example of font-sizing with JavaScript</p> -->


<%- include("../partials/footer")%>
